<form class="modal-content" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <div class="modal-header">
      <h5 class="modal-title">Edit the current Newspaper</h5>
    </div>
    <div class="modal-body">
      <label class="form-label">Title</label>
      <input type="text" class="form-control" [value]="_editNews.title" name="title" #title/>

      <label class="form-label">Content</label>
      <textarea class="form-control" rows="16" [value]="_editNews.content" name="content" #content></textarea>

    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary" value="Update">
      <input type="button" class="btn btn-secondary" value="Cancel" (click)="modalRef.close()">
    </div>
  </div>
</form>

