<form class="modal-content" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <div class="modal-header">
      <h5 class="modal-title">Create a new Newspaper</h5>
    </div>
    <div class="modal-body">
      <label class="form-label">Title</label>
      <input type="text" class="form-control" [(ngModel)]='title' name="title"/>

      <label class="form-label">Content</label>
      <textarea class="form-control" rows="16" [(ngModel)]="content" name="content"></textarea>

    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary" value="Create">
      <input type="button" class="btn btn-secondary" value="Cancel" (click)="modalRef.close()">
    </div>
  </div>
</form>


